HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/resources/application-test.properties
src/main/resources/application-postgresql-test.properties
.env

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr